<!doctype html>

<html>
<head>
  <title>GroupLoops</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
      <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
      <link rel="stylesheet" type="text/css" href="css/styles.css">
      <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,200' rel='stylesheet' type='text/css'>
  <script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/index.js"></script>
</head>

<body>
  <div class="container">
    <div class="jumbotron" style="background-image: url('img/sky.png')">
      <center>
      <h1>GroupsLoops</h1>
      <p>A simple utility to form optimized groups for projects or studying.</p>
      </center>
    </div>
    <h1>Here is your suggested group.</h1>
    
      <div class="well">
        <script>
          var avail = {};
        </script>
        {{#each group}}
          <p><strong>Name: </strong>{{name}}   <strong>Email: </strong>{{email}}</p>
          <script>
            var curr = [{{avail}}];
            for(var i = 0; i < curr.length; ++i) {
              if(!avail[curr[i]])
                avail[curr[i]] = ["{{name}}"];
              else
                avail[curr[i]].push("{{name}}");
            }
          </script>
        {{/each}}
<table class="table table-condensed" onmouseup="down=false;deselect=false;" onselectstart="return false" style="width: 50%;">
            <thead>
              <tr>
                <th></th>
                <th class="weekday">Sun</th>
                <th class="weekday">Mon</th>
                <th class="weekday">Tue</th>
                <th class="weekday">Wed</th>
                <th class="weekday">Thur</th>
                <th class="weekday">Fri</th>
                <th class="weekday">Sat</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="daytime">Morning</th>
                <th class="slot" id="{{id}}_0"></th>
                <th class="slot" id="{{id}}_1"></th>
                <th class="slot" id="{{id}}_2"></th>
                <th class="slot" id="{{id}}_3"></th>
                <th class="slot" id="{{id}}_4"></th>
                <th class="slot" id="{{id}}_5"></th>
                <th class="slot" id="{{id}}_6"></th>
              </tr>
              <tr>
                <th class="daytime">Afternoon</th>
                <th class="slot" id="{{id}}_7"></th>
                <th class="slot" id="{{id}}_8"></th>
                <th class="slot" id="{{id}}_9"></th>
                <th class="slot" id="{{id}}_10"></th>
                <th class="slot" id="{{id}}_11"></th>
                <th class="slot" id="{{id}}_12"></th>
                <th class="slot" id="{{id}}_13"></th>
              </tr>
              <tr>
                <th class="daytime">Evening</th>
                <th class="slot" id="{{id}}_14"></th>
                <th class="slot" id="{{id}}_15"></th>
                <th class="slot" id="{{id}}_16"></th>
                <th class="slot" id="{{id}}_17"></th>
                <th class="slot" id="{{id}}_18"></th>
                <th class="slot" id="{{id}}_19"></th>
                <th class="slot" id="{{id}}_20"></th>
              </tr>
            </tbody>
          </table>
      </div>
      <script>
        console.log(avail);
        for(var i = 0; i < Object.keys(avail).length; ++i){
          $("#_"+Object.keys(avail)[i]).text(avail[Object.keys(avail)[i]].length);
          $("#_"+Object.keys(avail)[i]).tooltip({title: avail[Object.keys(avail)[i]].join(', '), trigger: 'hover'});
        }
      </script>
    
   
 </div>
</body>
</html>
